/*The colour scheme i choosed for this project is called Waves at Night.I take it from https://www.canva.com/colors/color-palettes/waves-at-night/

/* || General setup */

html,body {
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 14px;
  background-color: #1F2024;
  background-image: url("/images/background-red.jpeg");
}

body {
  width: 900px;
  margin: 0 auto;
  text-align: justify;
}

img{
  padding-bottom: 10px;
}

/* || typography */

h1,h2,h3 {
  font-family: 'Bayon', sans-serif;
  color: #1F2024;
}


p,label,input,li {
  font-family: 'Average', serif, 'Fira_Mono', monospace;
  color: #1F2024;
}

h1 {
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 2px 10px #343C3B;
  flex: 5;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  padding-left: 20px;
}

p,li {
  font-size: 20px;
  padding: 0px 20px;
}

/* || header layout */

header {
  margin-bottom: 10px;
  flex-flow: row wrap;
}

body>* {
  background-color: #A4A8AB;
  padding: 1%;
}

main,header,nav,article,aside,footer,section {
  background-color: #A4A8AB;
  padding: 1%;
}

/*Nav*/

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li{
  list-style-type: none;
  text-decoration: none;
}

nav ul li a {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #030000;

}

/* || main layout */

main {
  display: flex;
}

article,section {
  flex: 4;
}

/*Links colors*/

a:link{
  color:#030000;
}

a:hover{
  color: purple;
}

/*Aside*/

aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
  padding: 10px 1px;
}

aside img {
  max-width: 100%;
}

figure{
  margin-bottom: 10px;
}

/*Footer*/

footer {
  margin-top: 10px;
}

/*Table settings*/

table {
  border: 1px solid;
  border-collapse: collapse;
}

table td {
  border: 1px solid;
  padding: 1em;
}

table tr {
  border-top: 1px solid;
}

/*Logo A7X index*/

.logo_index {
  float: right;
  clear: both;
  padding: 3%;
  padding-bottom: 15px;
}

article figure {
  float: right;
  width: 200px;
}

article figure img {
  float: right;
  width: 100%;
}

/*INDEX PAGE*/

.index>figure{
    padding-left: 40px;
}

/*MEMBERS PAGE*/

.members{
  justify-content: center;
}

.members>div{
  padding: 10px;
}

/*OTHERS MEMBERS PAGE*/

.figure1{
  float: left;
  clear: both;
  margin: 10px;
}

.albums{
justify-content: center;
text-align: justify;
}

.text-albums{
margin-bottom: 10px;
}

/*ALBUMS PAGE*/

.center1 {
  display: flex;
  justify-content: center;
}

.center2 {
  text-align: center;
}

.center3 {
  text-align: center;
}

/*HISTORY PAGE*/

.formation{
  border: 2px dotted black;
  text-align: justify;
  padding: 0px 10px;
  margin: 20px 0px;
}

.musical-style{
  border: 2px solid black;
  text-align: justify;
  padding: 0px 10px;
  margin: 20px 0px;
}

.fame{
  border: 2px dashed black;
  text-align: justify;
  padding: 0px 10px; 
  margin: 20px 0px;
}

.name-emblem{
  border: 2px double white;
  outline: 2px solid black;
  text-align: justify;
  padding: 0px 10px;
  margin: 20px 0px;
}

/*COLLABORATIONS PAGE*/

main article table{
  box-shadow: -1px 5px 10px 15px rgb(223, 47, 16);
}

main article table th{
  border: 2px solid rgb(223, 47, 16);
}

main article table td{
  border: 2px solid rgb(223, 47, 16);
}

/*GALLERY PAGE*/

.gallery>figure{
    padding: 1em;
}

/*SUPPORT PAGE*/

form{
  text-align: center;
  border: 3px solid #030000;
}

div{
  text-align: left;
}

.payment-details>ul{
  list-style-type: none;
}

#amountpay{
  display: block;
}

.credentials{
  
  padding-bottom: 4px;
  text-align: center;
}

.credentials-name{
  padding-bottom: 4px;
  text-align: center;
}

.credentials-country{
  padding-right: 14px;
  text-align: center;
}

.checkbox-gifts{
  padding: 2px 10px;
}